<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whiteboard</title>
    <link rel="stylesheet" href="/css/whiteboard.css"/>
</head>
<body>
<!--<canvas id="canvas"></canvas>-->
<canvas id="canvas" class="whiteboard"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script>

    let canvas = document.getElementById('canvas')
    canvas.width = 2400;
    canvas.height = 1350;
    let socket = io.connect('http://localhost:8080/')

    let ctx = canvas.getContext("2d");
    //cursor shiftt!!!!!!!
    const canvasOffset = canvas.getBoundingClientRect();
    function adjustMouseCoordinates(e) {
        return {
            x: e.clientX - canvasOffset.left,
            y: e.clientY - canvasOffset.top,
        };
    }
    let x;
    let y;
    let mouseDown = false;

    window.onmousedown = (e) => {
        const adjustedCoords = adjustMouseCoordinates(e);
        ctx.moveTo(adjustedCoords.x, adjustedCoords.y);
        socket.emit('down', adjustedCoords)
        mouseDown = true;
    }
    window.onmouseup = (e) => {
        mouseDown = false;
    }


    socket.on('ondraw', ({x, y}) => {
        ctx.lineTo(x, y);
        ctx.stroke();
    });

    socket.on('ondown', ({x,y}) => {
        ctx.moveTo(x, y);
    })

    socket.on('initialize', (drawingData) => {
        drawingData.forEach(data => {
            if (data.type === 'draw') {
                ctx.lineTo(data.x, data.y);
                ctx.stroke();
            } else if (data.type === 'down') {
                ctx.moveTo(data.x, data.y);
            }
        });
    });

    window.onmousemove = (e) => {
        x = e.clientX;
        y = e.clientY;
        const adjustedCoords = adjustMouseCoordinates(e);
        // console.log({x,y})
        if (mouseDown) {
            socket.emit("draw", adjustedCoords)
            ctx.lineTo(adjustedCoords.x, adjustedCoords.y);
            ctx.stroke();
        }
    }


</script>
</body>
</html>